/* Universal */

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
body {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3 {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* Personal Bio */

#personal-bio {
	background: Black;
	padding: 4rem 0;
	margin: 0 -1rem;
	align-items: center;
}

.bio-content {
	width: 100%;
	height: 500px;
	display: flex;
	margin: 4rem auto;
}

.bio-content img {
	width: 600px;
	height: 100%;
	object-fit: cover;
	transition: 0.5s ease-in-out;
	margin-left: 2vw;
	border-radius: 50px;
}

.bio-content img:hover {
	box-shadow: 0 0 15px 0 lightblue;
	transition: 0.5s ease-in-out;
}

.bio-content p {
	color: white;
	padding: 2rem;
	margin-left: 2vw;
	margin-right: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 25pt;
}

/* Projects */

#projects {
	padding: 2rem 0;
	align-items: center;
	justify-content: center;
}

#projects #projects-title {
	margin: 0rem auto 2rem auto;
	max-width: 1200px;
	text-align: center;
	font-size: 50pt;
	font-weight: bold;
}

#project-list {
	list-style-type: none;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.project {
	padding: 0;
	margin: 2rem 0;
	text-align: center;
	align-items: center;
	list-style-type: center;
}

.project h1 {
	font-size: 25pt;
	cursor: pointer;
	transition: font-size 0.5s;
}

.project h1:hover {
	font-weight: bold;
	text-decoration: underline;
}

.project.active h1 {
	font-size: 30pt;
	transition: font-size 0.5s ease-in-out;
}

.project li {
	font-size: 12pt;
	font-weight: 500;
}

.project div {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;
	font-weight: 300;
	background: #f6f6f6;
}

.project div.active {
	max-height: 200px;
}

.project div li a {
	text-decoration: none;
	color: #00674f;
}
