html {
	height: 100%;
	width: 100%;
}
body {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3 {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

#personal-bio {
	background: Black;
	padding: 4rem 0;
	align-items: center;
}

.bio-content {
	width: 100%;
	height: 500px;
	display: flex;
	margin: 4rem auto;
}

.bio-content img {
	width: 600px;
	height: 100%;
	object-fit: cover;
	transition: 0.5s ease-in-out;
	margin-left: 2vw;
	border-radius: 50px;
}

.bio-content img:hover {
	box-shadow: 0 0 15px 0 lightblue;
	transition: 0.5s ease-in-out;
}

.bio-content p {
	color: white;
	padding: 2rem;
	margin-left: 2vw;
	margin-right: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 25pt;
}
